# Dependencias
node_modules/

# Archivos compilados
dist/

# Configuración
.env

# Logs
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/

# Temporales
*.tmp
